
# Accidental artifacts
coverage/
dist/
.DS_Store
# Editor directories and files
.env
.idea/
*.njsproj
node_modules/
*.ntvs*
playwright-report/
*.sln
*.suo
*.sw?
# Test artifacts
test-results/node_modules
trischach
trischach.pub
.vscode/
node_modules
test-results/
